.login-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-container {
    background-color: var(--cor-card);
    padding: 40px;
    border-radius: var(--borda-raio);
    width: 100%;
    max-width: 380px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 30px;
    color: var(--fundo-primario);
    font-weight: 600;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--texto-label);
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid var(--cor-borda);
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: var(--botao-acao);
}

.login-btn {
    width: 100%;
    padding: 14px;
    background: var(--botao-acao);
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.login-btn:hover {
    background: var(--botao-acao-hover);
    transform: translateY(-2px);
}