<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Styles/Global.css">
    <link rel="stylesheet" href="/Styles/LoginADM.css">
</head>
<body class="bg-sistema">
    <header class="navbar-global">
        <h1>Vulture Books</h1>
        <img src="/Imagens/Urubu2.png" alt="Logo">
    </header>
    <main class="login-wrapper">
        <div class="login-container">
            <h2>Login Admin</h2>
            <form action="/admin/login" method="POST">
                <div class="input-group">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Digite seu email">
                </div>
                <div class="input-group">
                    <label>Senha</label>
                    <input type="password" name="senha" placeholder="Digite sua senha">
                </div>
                <button type="submit" class="login-btn">Entrar</button>
            </form>
        </div>
    </main>
    <footer class="footer-global">
        Sistema de Doação de Livros
    </footer>
</body>
</html>